Capteur_LTE-M.json
[
    {
        "id": "210c155d22e5bb86",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "343da118b2120754",
        "type": "tab",
        "label": "IoT Guadeloupe LTE-M",
        "disabled": false,
        "info": "Flow pour récupérer les données du capteur iotContinuum via MQTT"
    },
    {
        "id": "mqtt-broker-mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "nodered-guadeloupe-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b5dd9e582de8007",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ee041aaba64be49c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "66dd2f8b7f54b135",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "5b5dd9e582de8007",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ee041aaba64be49c",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "50bbb5acef583537",
        "type": "ui-group",
        "name": "Group 1",
        "page": "66dd2f8b7f54b135",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "0c4c4d8642a5a2ef",
        "type": "ui-theme",
        "name": "Orange Theme",
        "colors": {
            "surface": "#1a1a2e",
            "primary": "#ff7900",
            "bgPage": "#0f0f1a",
            "groupBg": "#16213e",
            "groupOutline": "#ff7900"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "7124d8bd2e725810",
        "type": "ui-page",
        "name": "Capteur Guadeloupe",
        "ui": "5b5dd9e582de8007",
        "path": "/guadeloupe",
        "icon": "mdi-island",
        "layout": "grid",
        "theme": "0c4c4d8642a5a2ef",
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "db672abbcf82268d",
        "type": "ui-group",
        "name": "Capteurs Environnementaux",
        "page": "7124d8bd2e725810",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ec4aeebffd18c1f2",
        "type": "ui-group",
        "name": "Position Gyroscope",
        "page": "7124d8bd2e725810",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "82f563ea2922833c",
        "type": "ui-group",
        "name": "Journal",
        "page": "7124d8bd2e725810",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "e1f1a0acae0cf325",
        "type": "ui-theme",
        "name": "Orange Theme",
        "colors": {
            "surface": "#1a1a2e",
            "primary": "#ff7900",
            "bgPage": "#0f0f1a",
            "groupBg": "#16213e",
            "groupOutline": "#ff7900"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "05466ca3301f58b1",
        "type": "ui-page",
        "name": "Capteur Guadeloupe",
        "ui": "5b5dd9e582de8007",
        "path": "/guadeloupe",
        "icon": "mdi-island",
        "layout": "grid",
        "theme": "e1f1a0acae0cf325",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "81f1b11e8a929961",
        "type": "ui-group",
        "name": "Capteurs Environnementaux",
        "page": "05466ca3301f58b1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "b401fd50c003de20",
        "type": "ui-group",
        "name": "Position Gyroscope",
        "page": "05466ca3301f58b1",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "459c998ae7076593",
        "type": "ui-group",
        "name": "Historique",
        "page": "05466ca3301f58b1",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "IoT Guadeloupe",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dashboard-group",
        "type": "ui_group",
        "name": "Capteur Guadeloupe",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "596a96d7858f2775",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cad7cd53c6322168",
        "type": "mqtt in",
        "z": "343da118b2120754",
        "name": "Temperature",
        "topic": "dev/data/guadeloupe/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ec2ecc812ce8e31e",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "e7c5769eef68e47b",
        "type": "mqtt in",
        "z": "343da118b2120754",
        "name": "Pression",
        "topic": "dev/data/guadeloupe/pression",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "1743e6398eb6c031",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "ecaf4c626c18c796",
        "type": "mqtt in",
        "z": "343da118b2120754",
        "name": "Humidité",
        "topic": "dev/data/guadeloupe/humidite",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "218df9d379c3d9ea",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "060afe5cbdbf3f6c",
        "type": "mqtt in",
        "z": "343da118b2120754",
        "name": "Position (Gyroscope)",
        "topic": "dev/data/guadeloupe/position",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d352df08daa56437",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "942306173578a3e5",
        "type": "mqtt in",
        "z": "343da118b2120754",
        "name": "All Topics (Debug)",
        "topic": "dev/data/guadeloupe/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "ea71110ead746b31"
            ]
        ]
    },
    {
        "id": "73086cf2d70718a1",
        "type": "debug",
        "z": "343da118b2120754",
        "name": "Raw Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "ea71110ead746b31",
        "type": "debug",
        "z": "343da118b2120754",
        "name": "All Topics Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "ec2ecc812ce8e31e",
        "type": "json",
        "z": "343da118b2120754",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "bf44d48797cf4ef0"
            ]
        ]
    },
    {
        "id": "1743e6398eb6c031",
        "type": "json",
        "z": "343da118b2120754",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "6b84202a6008ce52"
            ]
        ]
    },
    {
        "id": "218df9d379c3d9ea",
        "type": "json",
        "z": "343da118b2120754",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "63d74faf6f381f32"
            ]
        ]
    },
    {
        "id": "d352df08daa56437",
        "type": "json",
        "z": "343da118b2120754",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "0387ed7b5f43547e"
            ]
        ]
    },
    {
        "id": "bf44d48797cf4ef0",
        "type": "function",
        "z": "343da118b2120754",
        "name": "Extract Value",
        "func": "const data = msg.payload;\n\nmsg.payload = data.v;\nmsg.topic = \"temperature\";\nmsg.unit = \"°C\";\nmsg.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "9c8f18b9fd87836a",
                "a8ba222f42c23fd4",
                "b5f5c508f5a90943"
            ]
        ]
    },
    {
        "id": "6b84202a6008ce52",
        "type": "function",
        "z": "343da118b2120754",
        "name": "Extract Value",
        "func": "const data = msg.payload;\n\nmsg.payload = data.v;\nmsg.topic = \"pression\";\nmsg.unit = \"Pa\";\nmsg.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "9c8f18b9fd87836a",
                "cd122b2d97fbf04c",
                "b5f5c508f5a90943"
            ]
        ]
    },
    {
        "id": "63d74faf6f381f32",
        "type": "function",
        "z": "343da118b2120754",
        "name": "Extract Value",
        "func": "const data = msg.payload;\n\nmsg.payload = data.v;\nmsg.topic = \"humidite\";\nmsg.unit = \"%\";\nmsg.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "9c8f18b9fd87836a",
                "b40b13c842c8ac9e",
                "b5f5c508f5a90943"
            ]
        ]
    },
    {
        "id": "0387ed7b5f43547e",
        "type": "function",
        "z": "343da118b2120754",
        "name": "Extract Position",
        "func": "const data = msg.payload;\nlet position = data.v;\n\n// Debug: log le type et la valeur brute\nnode.warn(\"Position v type: \" + typeof position);\nnode.warn(\"Position v value: \" + JSON.stringify(position));\n\n// Si c'est une string, parser le JSON\nif (typeof position === 'string') {\n    try {\n        position = JSON.parse(position);\n        node.warn(\"Parsed position: \" + JSON.stringify(position));\n    } catch (e) {\n        node.error(\"Failed to parse position: \" + e.message);\n        return null;\n    }\n}\n\nconst x = position.x || position.X || 0;\nconst y = position.y || position.Y || 0;\nconst z = position.z || position.Z || 0;\n\n// Message pour les gauges X, Y, Z\nconst msgX = { payload: x, topic: \"position_x\" };\nconst msgY = { payload: y, topic: \"position_y\" };\nconst msgZ = { payload: z, topic: \"position_z\" };\n\n// Message pour debug\nconst msgDebug = {\n    payload: { x, y, z },\n    topic: \"position\"\n};\n\nreturn [msgX, msgY, msgZ, msgDebug];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "82438272f952b915"
            ],
            [
                "6d00a8d14fd15937"
            ],
            [
                "543b76e9e87bba76"
            ],
            [
                "71a2b3316d6c1016"
            ]
        ]
    },
    {
        "id": "9c8f18b9fd87836a",
        "type": "debug",
        "z": "343da118b2120754",
        "name": "Parsed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 910,
        "y": 40,
        "wires": []
    },
    {
        "id": "71a2b3316d6c1016",
        "type": "debug",
        "z": "343da118b2120754",
        "name": "Position Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8ba222f42c23fd4",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Temperature",
        "group": "81f1b11e8a929961",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Température",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "25",
                "color": "#ffc800"
            },
            {
                "from": "35",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cd122b2d97fbf04c",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Pression",
        "group": "81f1b11e8a929961",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pression",
        "units": "Pa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "95000",
                "color": "#5cd65c"
            },
            {
                "from": "101000",
                "color": "#ffc800"
            },
            {
                "from": "103000",
                "color": "#ea5353"
            }
        ],
        "min": "95000",
        "max": "106000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b40b13c842c8ac9e",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Humidité",
        "group": "81f1b11e8a929961",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidité",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "50",
                "color": "#5cd65c"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "82438272f952b915",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Position X",
        "group": "b401fd50c003de20",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe X",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1000",
                "color": "#5c5cff"
            },
            {
                "from": "-100",
                "color": "#5cd65c"
            },
            {
                "from": "100",
                "color": "#ffc800"
            },
            {
                "from": "500",
                "color": "#ff5c5c"
            }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6d00a8d14fd15937",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Position Y",
        "group": "b401fd50c003de20",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe Y",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1000",
                "color": "#5c5cff"
            },
            {
                "from": "-100",
                "color": "#5cd65c"
            },
            {
                "from": "100",
                "color": "#ffc800"
            },
            {
                "from": "500",
                "color": "#ff5c5c"
            }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "543b76e9e87bba76",
        "type": "ui-gauge",
        "z": "343da118b2120754",
        "name": "Position Z",
        "group": "b401fd50c003de20",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe Z",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1000",
                "color": "#5c5cff"
            },
            {
                "from": "-100",
                "color": "#5cd65c"
            },
            {
                "from": "100",
                "color": "#ffc800"
            },
            {
                "from": "500",
                "color": "#ff5c5c"
            }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b5f5c508f5a90943",
        "type": "ui-chart",
        "z": "343da118b2120754",
        "group": "459c998ae7076593",
        "name": "Historique Capteurs",
        "label": "Historique",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "100",
        "colors": [
            "#ff7900",
            "#4ecdc4",
            "#45b7d1",
            "#a855f7",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "6",
        "height": "5",
        "className": "",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2d3ec26cd557cd5e",
        "type": "comment",
        "z": "343da118b2120754",
        "name": "📡 IoT Guadeloupe - Capteur LTE-M",
        "info": "Ce flow récupère les données du capteur iotContinuum via MQTT.\n\nTopics:\n- dev/data/guadeloupe/temperature\n- dev/data/guadeloupe/pression\n- dev/data/guadeloupe/humidite\n- dev/data/guadeloupe/position\n\nBroker: test.mosquitto.org:1883",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "9b5a287b3ca92985",
        "type": "comment",
        "z": "343da118b2120754",
        "name": "📊 Dashboard: http://localhost:1880/dashboard/guadeloupe",
        "info": "FlowFuse Dashboard 2.0\n@flowfuse/node-red-dashboard",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "29eef443aa73f157",
        "type": "inject",
        "z": "343da118b2120754",
        "name": "Test Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/temperature",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":28.5,\"tags\":[\"temperature\"]}",
        "payloadType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "ec2ecc812ce8e31e",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "726841df3608947b",
        "type": "inject",
        "z": "343da118b2120754",
        "name": "Test Position (string)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/position",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":\"{\\\"x\\\":150,\\\"y\\\":-230,\\\"z\\\":45}\",\"tags\":[\"position\"]}",
        "payloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "d352df08daa56437",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "5ea9e5339583c460",
        "type": "inject",
        "z": "343da118b2120754",
        "name": "Test Position (object)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/position",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":{\"x\":100,\"y\":200,\"z\":300},\"tags\":[\"position\"]}",
        "payloadType": "str",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "d352df08daa56437",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "4a30ee93f5fefcae",
        "type": "inject",
        "z": "343da118b2120754",
        "name": "Test Humidité",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/humidite",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":72.3,\"tags\":[\"humidite\"]}",
        "payloadType": "str",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "218df9d379c3d9ea",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "f8798f1c6b6a2e9e",
        "type": "inject",
        "z": "343da118b2120754",
        "name": "Test Pression",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/pression",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":101325,\"tags\":[\"pression\"]}",
        "payloadType": "str",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "1743e6398eb6c031",
                "73086cf2d70718a1"
            ]
        ]
    },
    {
        "id": "ee9d8a65311b17aa",
        "type": "comment",
        "z": "343da118b2120754",
        "name": "🧪 Test Inject (cliquez pour simuler)",
        "info": "",
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "8e709ac8e1c69daf",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]