Flow.json
[
    {
        "id": "iot-guadeloupe-flow",
        "type": "tab",
        "label": "IoT Guadeloupe LTE-M",
        "disabled": false,
        "info": "Flow complet avec stockage Firebase, alertes email et export CSV"
    },
    {
        "id": "mqtt-broker-mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "nodered-guadeloupe-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "reconnectPeriod": "5000",
        "birthTopic": "dev/status/guadeloupe",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "{\"status\":\"online\",\"device\":\"SampleOAGua\"}",
        "birthMsg": {},
        "closeTopic": "dev/status/guadeloupe",
        "closeQos": "0",
        "closePayload": "{\"status\":\"offline\",\"device\":\"SampleOAGua\"}",
        "closeMsg": {},
        "willTopic": "dev/status/guadeloupe",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "{\"status\":\"disconnected\",\"device\":\"SampleOAGua\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dashboard-base",
        "type": "ui-base",
        "name": "IoT Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "dashboard-theme",
        "type": "ui-theme",
        "name": "Orange Theme",
        "colors": {
            "surface": "#1a1a2e",
            "primary": "#ff7900",
            "bgPage": "#0f0f1a",
            "groupBg": "#16213e",
            "groupOutline": "#ff7900"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "dashboard-page",
        "type": "ui-page",
        "name": "Capteur Guadeloupe",
        "ui": "dashboard-base",
        "path": "/guadeloupe",
        "icon": "mdi-island",
        "layout": "grid",
        "theme": "dashboard-theme",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-sensors",
        "type": "ui-group",
        "name": "Capteurs Environnementaux",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-position",
        "type": "ui-group",
        "name": "Position Gyroscope",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-charts",
        "type": "ui-group",
        "name": "Historique",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-controls",
        "type": "ui-group",
        "name": "Contrôles",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-alerts",
        "type": "ui-group",
        "name": "Alertes",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-status",
        "type": "ui-group",
        "name": "Statut Connexion",
        "page": "dashboard-page",
        "width": "6",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "mqtt-in-temperature",
        "type": "mqtt in",
        "z": "iot-guadeloupe-flow",
        "name": "Temperature",
        "topic": "dev/data/guadeloupe/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            ["parse-temperature"]
        ]
    },
    {
        "id": "mqtt-in-pression",
        "type": "mqtt in",
        "z": "iot-guadeloupe-flow",
        "name": "Pression",
        "topic": "dev/data/guadeloupe/pression",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            ["parse-pression"]
        ]
    },
    {
        "id": "mqtt-in-humidite",
        "type": "mqtt in",
        "z": "iot-guadeloupe-flow",
        "name": "Humidité",
        "topic": "dev/data/guadeloupe/humidite",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            ["parse-humidite"]
        ]
    },
    {
        "id": "mqtt-in-position",
        "type": "mqtt in",
        "z": "iot-guadeloupe-flow",
        "name": "Position (Gyroscope)",
        "topic": "dev/data/guadeloupe/position",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt-broker-mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            ["parse-position"]
        ]
    },
    {
        "id": "parse-temperature",
        "type": "json",
        "z": "iot-guadeloupe-flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 100,
        "wires": [
            ["extract-temperature"]
        ]
    },
    {
        "id": "parse-pression",
        "type": "json",
        "z": "iot-guadeloupe-flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 160,
        "wires": [
            ["extract-pression"]
        ]
    },
    {
        "id": "parse-humidite",
        "type": "json",
        "z": "iot-guadeloupe-flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 220,
        "wires": [
            ["extract-humidite"]
        ]
    },
    {
        "id": "parse-position",
        "type": "json",
        "z": "iot-guadeloupe-flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 280,
        "wires": [
            ["extract-position"]
        ]
    },
    {
        "id": "extract-temperature",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Extract & Check Alert",
        "func": "const data = msg.payload;\nconst value = data.v;\n\nmsg.payload = value;\nmsg.topic = \"temperature\";\nmsg.unit = \"°C\";\nmsg.timestamp = new Date().toISOString();\nmsg.rawData = data;\n\n// Enregistrer le timestamp de dernière donnée\nflow.set('lastDataTime', Date.now());\n\n// Stocker pour CSV\nconst csvData = flow.get('csvData') || [];\ncsvData.push({\n    timestamp: msg.timestamp,\n    type: 'temperature',\n    value: value\n});\n// Garder seulement les 1000 dernières entrées\nif (csvData.length > 1000) csvData.shift();\nflow.set('csvData', csvData);\n\n// Vérifier seuil alerte (température > 35°C)\nconst alertThreshold = flow.get('tempAlertThreshold') || 35;\nif (value > alertThreshold) {\n    msg.alert = true;\n    msg.alertMessage = `⚠️ ALERTE: Température élevée: ${value}°C (seuil: ${alertThreshold}°C)`;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            ["gauge-temperature", "chart-sensors", "store-firebase", "check-alert", "debug-data"]
        ]
    },
    {
        "id": "extract-pression",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Extract Value",
        "func": "const data = msg.payload;\nconst value = data.v;\n\nmsg.payload = value;\nmsg.topic = \"pression\";\nmsg.unit = \"Pa\";\nmsg.timestamp = new Date().toISOString();\nmsg.rawData = data;\n\n// Stocker pour CSV\nconst csvData = flow.get('csvData') || [];\ncsvData.push({\n    timestamp: msg.timestamp,\n    type: 'pression',\n    value: value\n});\nif (csvData.length > 1000) csvData.shift();\nflow.set('csvData', csvData);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            ["gauge-pression", "chart-sensors", "store-firebase", "debug-data"]
        ]
    },
    {
        "id": "extract-humidite",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Extract & Check Alert",
        "func": "const data = msg.payload;\nconst value = data.v;\n\nmsg.payload = value;\nmsg.topic = \"humidite\";\nmsg.unit = \"%\";\nmsg.timestamp = new Date().toISOString();\nmsg.rawData = data;\n\n// Stocker pour CSV\nconst csvData = flow.get('csvData') || [];\ncsvData.push({\n    timestamp: msg.timestamp,\n    type: 'humidite',\n    value: value\n});\nif (csvData.length > 1000) csvData.shift();\nflow.set('csvData', csvData);\n\n// Vérifier seuil alerte (humidité > 90%)\nconst alertThreshold = flow.get('humAlertThreshold') || 90;\nif (value > alertThreshold) {\n    msg.alert = true;\n    msg.alertMessage = `⚠️ ALERTE: Humidité élevée: ${value}% (seuil: ${alertThreshold}%)`;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            ["gauge-humidite", "chart-sensors", "store-firebase", "check-alert", "debug-data"]
        ]
    },
    {
        "id": "extract-position",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Extract Position",
        "func": "const data = msg.payload;\nlet position = data.v;\n\n// Si c'est une string, parser le JSON\nif (typeof position === 'string') {\n    try {\n        position = JSON.parse(position);\n    } catch (e) {\n        node.error(\"Failed to parse position: \" + e.message);\n        return null;\n    }\n}\n\nconst x = position.x || position.X || 0;\nconst y = position.y || position.Y || 0;\nconst z = position.z || position.Z || 0;\nconst timestamp = new Date().toISOString();\n\n// Stocker pour CSV\nconst csvData = flow.get('csvData') || [];\ncsvData.push({\n    timestamp: timestamp,\n    type: 'position',\n    value: `${x};${y};${z}`\n});\nif (csvData.length > 1000) csvData.shift();\nflow.set('csvData', csvData);\n\n// Messages pour les gauges et stockage\nconst msgX = { payload: x, topic: \"position_x\", timestamp };\nconst msgY = { payload: y, topic: \"position_y\", timestamp };\nconst msgZ = { payload: z, topic: \"position_z\", timestamp };\nconst msgStore = { \n    payload: { x, y, z }, \n    topic: \"position\", \n    timestamp,\n    rawData: data\n};\n\nreturn [msgX, msgY, msgZ, msgStore];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            ["gauge-pos-x"],
            ["gauge-pos-y"],
            ["gauge-pos-z"],
            ["store-firebase", "debug-data"]
        ]
    },
    {
        "id": "debug-data",
        "type": "debug",
        "z": "iot-guadeloupe-flow",
        "name": "Data Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "gauge-temperature",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Temperature",
        "group": "group-sensors",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Température",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "0", "color": "#5cd65c" },
            { "from": "25", "color": "#ffc800" },
            { "from": "35", "color": "#ea5353" }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "gauge-pression",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Pression",
        "group": "group-sensors",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pression",
        "units": "Pa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "95000", "color": "#5cd65c" },
            { "from": "101000", "color": "#ffc800" },
            { "from": "103000", "color": "#ea5353" }
        ],
        "min": "95000",
        "max": "106000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge-humidite",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Humidité",
        "group": "group-sensors",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidité",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "0", "color": "#ea5353" },
            { "from": "30", "color": "#ffc800" },
            { "from": "50", "color": "#5cd65c" }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "gauge-pos-x",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Position X",
        "group": "group-position",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe X",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "-1000", "color": "#5c5cff" },
            { "from": "-100", "color": "#5cd65c" },
            { "from": "100", "color": "#ffc800" },
            { "from": "500", "color": "#ff5c5c" }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "gauge-pos-y",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Position Y",
        "group": "group-position",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe Y",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "-1000", "color": "#5c5cff" },
            { "from": "-100", "color": "#5cd65c" },
            { "from": "100", "color": "#ffc800" },
            { "from": "500", "color": "#ff5c5c" }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "gauge-pos-z",
        "type": "ui-gauge",
        "z": "iot-guadeloupe-flow",
        "name": "Position Z",
        "group": "group-position",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Axe Z",
        "units": "mdps",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            { "from": "-1000", "color": "#5c5cff" },
            { "from": "-100", "color": "#5cd65c" },
            { "from": "100", "color": "#ffc800" },
            { "from": "500", "color": "#ff5c5c" }
        ],
        "min": "-1000",
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "chart-sensors",
        "type": "ui-chart",
        "z": "iot-guadeloupe-flow",
        "group": "group-charts",
        "name": "Historique Capteurs",
        "label": "Historique",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "100",
        "colors": ["#ff7900", "#4ecdc4", "#45b7d1"],
        "width": "6",
        "height": "5",
        "className": "",
        "x": 750,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "check-alert",
        "type": "switch",
        "z": "iot-guadeloupe-flow",
        "name": "Alert?",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            { "t": "true" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 440,
        "wires": [
            ["prepare-email", "show-alert", "debug-alert"]
        ]
    },
    {
        "id": "debug-alert",
        "type": "debug",
        "z": "iot-guadeloupe-flow",
        "name": "Alert Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "alertMessage",
        "targetType": "msg",
        "statusVal": "alertMessage",
        "statusType": "msg",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "prepare-email",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Prepare Email",
        "func": "// Anti-spam: max 1 email par 10 minutes\nconst lastAlert = flow.get('lastAlertTime') || 0;\nconst now = Date.now();\nconst cooldown = 10 * 60 * 1000; // 10 minutes\n\nif (now - lastAlert < cooldown) {\n    node.warn('Alert email skipped (cooldown)');\n    return null;\n}\n\nflow.set('lastAlertTime', now);\n\nmsg.topic = `🚨 Alerte IoT Guadeloupe - ${msg.topic}`;\nmsg.payload = `\n${msg.alertMessage}\n\nDétails:\n- Type: ${msg.topic}\n- Valeur: ${msg.payload} ${msg.unit}\n- Timestamp: ${msg.timestamp}\n- Device: SampleOAGua\n- Location: Guadeloupe\n\n--\nIoT Dashboard Orange LTE-M\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 440,
        "wires": [
            ["send-email"]
        ]
    },
    {
        "id": "send-email",
        "type": "e-mail",
        "z": "iot-guadeloupe-flow",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "Send Alert Email",
        "dname": "Gmail SMTP",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "show-alert",
        "type": "ui-notification",
        "z": "iot-guadeloupe-flow",
        "ui": "dashboard-base",
        "position": "top right",
        "colorDefault": true,
        "color": "#ff0000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "name": "Show Alert",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "store-firebase",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Prepare Firebase Data",
        "func": "// Prépare les données pour Firebase/Firestore\nconst topic = msg.topic;\nconst value = msg.payload;\nconst timestamp = msg.timestamp || new Date().toISOString();\n\nmsg.payload = {\n    collection: 'sensor_data',\n    document: `${topic}_${Date.now()}`,\n    data: {\n        device: 'SampleOAGua',\n        location: 'guadeloupe',\n        type: topic,\n        value: value,\n        unit: msg.unit || '',\n        timestamp: timestamp,\n        createdAt: new Date().toISOString()\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            ["firebase-store", "debug-firebase"]
        ]
    },
    {
        "id": "firebase-store",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Firebase Store (placeholder)",
        "func": "// PLACEHOLDER: Remplacer par le node Firebase\n// Installer: npm install node-red-contrib-firebase-admin\n// Ou utiliser HTTP Request vers Firebase REST API\n\n// Pour l'instant, on simule le stockage\nnode.warn('Firebase: Would store ' + JSON.stringify(msg.payload.data));\n\n// Stocker localement en attendant\nconst firebaseData = flow.get('firebaseData') || [];\nfirebaseData.push(msg.payload.data);\nif (firebaseData.length > 500) firebaseData.shift();\nflow.set('firebaseData', firebaseData);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "debug-firebase",
        "type": "debug",
        "z": "iot-guadeloupe-flow",
        "name": "Firebase Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "btn-export-csv",
        "type": "ui-button",
        "z": "iot-guadeloupe-flow",
        "group": "group-controls",
        "name": "Export CSV",
        "label": "📥 Exporter CSV",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "Télécharger les données en CSV",
        "color": "",
        "bgcolor": "#ff7900",
        "className": "",
        "icon": "mdi-download",
        "x": 130,
        "y": 440,
        "wires": [
            ["generate-csv"]
        ]
    },
    {
        "id": "auto-export-csv",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Auto Export (1h)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "auto",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 500,
        "wires": [
            ["generate-csv"]
        ]
    },
    {
        "id": "generate-csv",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Generate CSV",
        "func": "const csvData = flow.get('csvData') || [];\n\nif (csvData.length === 0) {\n    node.warn('No data to export');\n    return null;\n}\n\n// Header CSV\nlet csv = 'timestamp,type,value\\n';\n\n// Data rows\ncsvData.forEach(row => {\n    csv += `${row.timestamp},${row.type},${row.value}\\n`;\n});\n\nmsg.payload = csv;\nmsg.filename = `iot_guadeloupe_${new Date().toISOString().split('T')[0]}.csv`;\nmsg.headers = {\n    'Content-Type': 'text/csv',\n    'Content-Disposition': `attachment; filename=\"${msg.filename}\"`\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 470,
        "wires": [
            ["save-csv", "debug-csv"]
        ]
    },
    {
        "id": "save-csv",
        "type": "file",
        "z": "iot-guadeloupe-flow",
        "name": "Save CSV",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 500,
        "y": 440,
        "wires": [
            ["notify-csv-saved"]
        ]
    },
    {
        "id": "debug-csv",
        "type": "debug",
        "z": "iot-guadeloupe-flow",
        "name": "CSV Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "filename",
        "statusType": "msg",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "notify-csv-saved",
        "type": "ui-notification",
        "z": "iot-guadeloupe-flow",
        "ui": "dashboard-base",
        "position": "bottom right",
        "colorDefault": true,
        "color": "#00d68f",
        "displayTime": "5",
        "showCountdown": false,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "name": "CSV Saved Notification",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "slider-temp-threshold",
        "type": "ui-slider",
        "z": "iot-guadeloupe-flow",
        "group": "group-alerts",
        "name": "Seuil Température",
        "label": "Seuil alerte temp (°C)",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "tempThreshold",
        "topicType": "str",
        "min": "20",
        "max": "50",
        "step": "1",
        "className": "",
        "x": 150,
        "y": 580,
        "wires": [
            ["set-temp-threshold"]
        ]
    },
    {
        "id": "set-temp-threshold",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Set Threshold",
        "func": "flow.set('tempAlertThreshold', msg.payload);\nnode.status({fill:'green', shape:'dot', text:`Seuil: ${msg.payload}°C`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "flow.set('tempAlertThreshold', 35);",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [[]]
    },
    {
        "id": "slider-hum-threshold",
        "type": "ui-slider",
        "z": "iot-guadeloupe-flow",
        "group": "group-alerts",
        "name": "Seuil Humidité",
        "label": "Seuil alerte hum (%)",
        "tooltip": "",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "humThreshold",
        "topicType": "str",
        "min": "50",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 140,
        "y": 640,
        "wires": [
            ["set-hum-threshold"]
        ]
    },
    {
        "id": "set-hum-threshold",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Set Threshold",
        "func": "flow.set('humAlertThreshold', msg.payload);\nnode.status({fill:'blue', shape:'dot', text:`Seuil: ${msg.payload}%`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "flow.set('humAlertThreshold', 90);",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "text-alert-status",
        "type": "ui-text",
        "z": "iot-guadeloupe-flow",
        "group": "group-alerts",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Alert Status",
        "label": "Dernière alerte",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ff7900",
        "className": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "comment-section-mqtt",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "📡 MQTT Input",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "comment-section-alerts",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "🚨 Alertes Email",
        "info": "Configure le node 'Send Alert Email':\n1. Double-clique dessus\n2. Userid: ton.email@gmail.com\n3. Password: App Password (pas ton mot de passe Gmail)\n4. To: email destinataire",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment-section-firebase",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "🔥 Firebase Storage",
        "info": "Pour activer Firebase:\n1. npm install node-red-contrib-firebase-admin\n2. Créer un projet Firebase\n3. Télécharger le fichier credentials JSON\n4. Remplacer le node placeholder",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "comment-section-csv",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "📥 Export CSV",
        "info": "Export manuel via bouton dashboard\nExport auto toutes les heures",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "inject-test-temp",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Test Temp Normal (28°C)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/temperature",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":28.5,\"tags\":[\"temperature\"]}",
        "payloadType": "str",
        "x": 170,
        "y": 740,
        "wires": [
            ["parse-temperature"]
        ]
    },
    {
        "id": "inject-test-temp-alert",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Test Temp ALERTE (38°C)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/temperature",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":38.5,\"tags\":[\"temperature\"]}",
        "payloadType": "str",
        "x": 170,
        "y": 780,
        "wires": [
            ["parse-temperature"]
        ]
    },
    {
        "id": "inject-test-hum",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Test Humidité (72%)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/humidite",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":72.3,\"tags\":[\"humidite\"]}",
        "payloadType": "str",
        "x": 160,
        "y": 820,
        "wires": [
            ["parse-humidite"]
        ]
    },
    {
        "id": "inject-test-pression",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Test Pression",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/pression",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":101325,\"tags\":[\"pression\"]}",
        "payloadType": "str",
        "x": 150,
        "y": 860,
        "wires": [
            ["parse-pression"]
        ]
    },
    {
        "id": "inject-test-position",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Test Position",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dev/data/guadeloupe/position",
        "payload": "{\"s\":\"urn:lo:nsid:SampleData\",\"v\":{\"x\":150,\"y\":-230,\"z\":45},\"tags\":[\"position\"]}",
        "payloadType": "str",
        "x": 150,
        "y": 900,
        "wires": [
            ["parse-position"]
        ]
    },
    {
        "id": "comment-test",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "🧪 Tests (cliquez pour simuler)",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "mqtt-status",
        "type": "status",
        "z": "iot-guadeloupe-flow",
        "name": "MQTT Status Monitor",
        "scope": ["mqtt-in-temperature", "mqtt-in-pression", "mqtt-in-humidite", "mqtt-in-position"],
        "x": 160,
        "y": 960,
        "wires": [
            ["process-mqtt-status"]
        ]
    },
    {
        "id": "process-mqtt-status",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Process Status",
        "func": "const status = msg.status;\n\nif (!status || !status.text) {\n    return null;\n}\n\nconst text = status.text.toLowerCase();\nconst now = new Date().toLocaleTimeString('fr-FR');\n\nlet statusMsg = {\n    payload: '',\n    color: '#888'\n};\n\nif (text.includes('connect')) {\n    if (text.includes('disconnect') || text.includes('lost')) {\n        statusMsg.payload = `🔴 Déconnecté - ${now}`;\n        statusMsg.color = '#ea5353';\n        statusMsg.alert = true;\n        statusMsg.alertMessage = '⚠️ Connexion MQTT perdue! Tentative de reconnexion...';\n        \n        // Enregistrer l'événement\n        const events = flow.get('connectionEvents') || [];\n        events.push({ time: now, event: 'disconnected' });\n        if (events.length > 50) events.shift();\n        flow.set('connectionEvents', events);\n    } else {\n        statusMsg.payload = `🟢 Connecté - ${now}`;\n        statusMsg.color = '#5cd65c';\n        \n        // Vérifier si on vient de se reconnecter\n        const wasDisconnected = flow.get('wasDisconnected');\n        if (wasDisconnected) {\n            statusMsg.reconnected = true;\n            statusMsg.alertMessage = '✅ Connexion MQTT rétablie!';\n            flow.set('wasDisconnected', false);\n        }\n        \n        const events = flow.get('connectionEvents') || [];\n        events.push({ time: now, event: 'connected' });\n        if (events.length > 50) events.shift();\n        flow.set('connectionEvents', events);\n    }\n} else if (text.includes('reconnect')) {\n    statusMsg.payload = `🟡 Reconnexion... - ${now}`;\n    statusMsg.color = '#ffc800';\n    flow.set('wasDisconnected', true);\n}\n\nreturn statusMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 960,
        "wires": [
            ["display-mqtt-status", "check-reconnect-alert", "debug-mqtt-status"]
        ]
    },
    {
        "id": "display-mqtt-status",
        "type": "ui-text",
        "z": "iot-guadeloupe-flow",
        "group": "group-status",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "MQTT Status Display",
        "label": "Broker MQTT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#ff7900",
        "className": "",
        "x": 600,
        "y": 940,
        "wires": []
    },
    {
        "id": "check-reconnect-alert",
        "type": "switch",
        "z": "iot-guadeloupe-flow",
        "name": "Has Alert?",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            { "t": "true" },
            { "t": "else" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 980,
        "wires": [
            ["notify-disconnect"],
            ["check-reconnected"]
        ]
    },
    {
        "id": "check-reconnected",
        "type": "switch",
        "z": "iot-guadeloupe-flow",
        "name": "Reconnected?",
        "property": "reconnected",
        "propertyType": "msg",
        "rules": [
            { "t": "true" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 1020,
        "wires": [
            ["notify-reconnected"]
        ]
    },
    {
        "id": "notify-disconnect",
        "type": "ui-notification",
        "z": "iot-guadeloupe-flow",
        "ui": "dashboard-base",
        "position": "top center",
        "colorDefault": false,
        "color": "#ea5353",
        "displayTime": "0",
        "showCountdown": false,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "name": "Disconnect Alert",
        "x": 800,
        "y": 960,
        "wires": []
    },
    {
        "id": "notify-reconnected",
        "type": "ui-notification",
        "z": "iot-guadeloupe-flow",
        "ui": "dashboard-base",
        "position": "top center",
        "colorDefault": false,
        "color": "#5cd65c",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "name": "Reconnect Notification",
        "x": 990,
        "y": 1020,
        "wires": []
    },
    {
        "id": "debug-mqtt-status",
        "type": "debug",
        "z": "iot-guadeloupe-flow",
        "name": "MQTT Status Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "watchdog-timer",
        "type": "inject",
        "z": "iot-guadeloupe-flow",
        "name": "Watchdog (5min)",
        "props": [
            { "p": "payload" }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 1020,
        "wires": [
            ["check-last-data"]
        ]
    },
    {
        "id": "check-last-data",
        "type": "function",
        "z": "iot-guadeloupe-flow",
        "name": "Check Last Data",
        "func": "// Vérifier si on a reçu des données récemment\nconst lastDataTime = flow.get('lastDataTime') || 0;\nconst now = Date.now();\nconst timeout = 5 * 60 * 1000; // 5 minutes\n\nif (lastDataTime > 0 && (now - lastDataTime) > timeout) {\n    msg.payload = `⚠️ Aucune donnée reçue depuis ${Math.round((now - lastDataTime) / 60000)} minutes`;\n    msg.alert = true;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1020,
        "wires": [
            ["notify-no-data"]
        ]
    },
    {
        "id": "notify-no-data",
        "type": "ui-notification",
        "z": "iot-guadeloupe-flow",
        "ui": "dashboard-base",
        "position": "top right",
        "colorDefault": false,
        "color": "#ffc800",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "name": "No Data Warning",
        "x": 540,
        "y": 1020,
        "wires": []
    },
    {
        "id": "comment-monitoring",
        "type": "comment",
        "z": "iot-guadeloupe-flow",
        "name": "📡 Monitoring Connexion",
        "info": "Surveille le statut MQTT et alerte si déconnexion.\nReconnexion automatique toutes les 5 secondes.\nWatchdog vérifie si données reçues toutes les 5 min.",
        "x": 160,
        "y": 920,
        "wires": []
    }
]